html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.not-for-mobile {
  display: none;
}

.font-for-header {
  font-family: Titan One;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.emphasis-font-for-header {
  font-size: 48px;
  line-height: 96.5%;
  color: #d41443;
}

.hero {
  min-width: 320px;
  max-width: 768px;
  padding: 6px 20px;
  padding-bottom: 160px;
  background-color: #ffb8ca;
  margin: 0 auto;
  z-index: 1;
}

.hero-header {
  width: 218px;
  margin-top: 137px;
}

.hero-header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero * {
  z-index: 3;
}

.hero-main-link {
  color: #d41443;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo-text {
  margin-left: 20px;
}

.header-link-list {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-link-list * * {
  display: block;
  padding: 7px 13px;
  border-radius: 20px;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;
}

.header-link-list li + li {
  margin-left: 8px;
}

.hero-link-products {
  background-color: #d41443;
  color: #ffffff;
}

.hero-link-products:hover, .hero-link-products:focus {
  background-color: #c7133e;
}

.hero-link-him {
  background-color: #ffffff;
  color: #d41443;
}

.hero-link-him:hover, .hero-link-him:focus {
  background-color: #ecebeb;
}

.header-menu-close-btn {
  position: absolute;
  top: 23px;
  right: 28px;
  width: 14px;
  height: 14px;
  background: none;
  border: 0;
}

.header-drop-menu {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 254px;
  height: 100vh;
  padding: 60px 21px;
  z-index: 5;
  background-color: #e17992;
  -webkit-transition: right 250ms;
  transition: right 250ms;
}

.header-buy-now-button {
  width: 209px;
  height: 44px;
  border: 0;
  border-radius: 22px;
  color: #d41443;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-buy-now-button .menu-buy-now-arrow {
  margin-left: 16px;
  font-weight: 900;
}

.header-menu-link {
  text-decoration: none;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.header-site-navigation {
  margin-top: 19px;
}

.header-site-navigation li {
  background: -webkit-gradient(linear, left top, left bottom, from(#e18298), color-stop(3%, #e17992), color-stop(97%, #e17992), to(#e18298));
  background: linear-gradient(#e18298 0%, #e17992 3%, #e17992 97%, #e18298 100%);
  padding-top: 11px;
  padding-bottom: 11px;
}

.header-home-link {
  color: #d41443;
}

.is-upped {
  right: -100%;
}

.hero-ice-cream {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 502px;
  z-index: 0;
  overflow: hidden;
}

.hero-ice-cream::after {
  content: '';
  position: absolute;
  bottom: 75px;
  left: 65%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 346px;
  height: 346px;
  border-radius: 50%;
  z-index: 0;
  background-color: #ffa5ba;
}

.hero-bg-picture {
  position: absolute;
  bottom: 0;
  left: 63%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-menu-call-btn {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 20px;
  height: 12px;
  border: 0;
  border-top: 1px solid #d41443;
  border-bottom: 1px solid #d41443;
  background: none;
}

.header-menu-call-btn::after {
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  position: relative;
  top: -0.02px;
  background-color: #d41443;
}

.header-logo {
  width: 50px;
  height: 50px;
}
/*# sourceMappingURL=main.css.map */