html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.not-for-mobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .not-for-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.not-for-desktop {
  display: block;
}

@media screen and (min-width: 1280px) {
  .not-for-desktop {
    display: none;
  }
}

.only-for-desktop {
  display: none;
}

@media screen and (min-width: 1280px) {
  .only-for-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.font-for-header {
  font-family: Titan One;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.emphasis-font-for-header {
  font-size: 48px;
  line-height: 96.5%;
  color: #d41443;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .emphasis-font-for-header {
    font-family: Titan One;
    font-size: 34px;
    line-height: 90.5%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

.hero {
  position: relative;
  min-width: 320px;
  max-width: 768px;
  padding: 6px 20px;
  padding-bottom: 160px;
  background-color: #ffb8ca;
  margin: 0 auto;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-header {
  width: 218px;
  margin-top: 137px;
}

.hero-header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .hero-header {
    width: 162px;
    height: 80px;
    font-family: Titan One;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 15px;
  }
}

.hero * {
  z-index: 2;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .hero {
    width: 768px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .hero-header-logo {
    margin-top: 31px;
  }
}

.hero-main-link {
  color: #d41443;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .hero-main-link {
    width: 199px;
  }
}

.header-logo-text {
  margin-left: 20px;
  letter-spacing: -0.01em;
}

.header-link-list {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header-link-list {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .header-link-list {
    margin-top: 25px;
  }
}

.header-link-list * * {
  display: block;
  padding: 7px 13px;
  border-radius: 20px;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;
}

.header-link-list li + li {
  margin-left: 8px;
}

.hero-link-products {
  background-color: #d41443;
  color: #ffffff;
}

.hero-link-products:hover, .hero-link-products:focus {
  background-color: #c7133e;
}

.hero-link-him {
  background-color: #ffffff;
  color: #d41443;
}

.hero-link-him:hover, .hero-link-him:focus {
  background-color: #ecebeb;
}

.header-menu-call-btn {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 20px;
  height: 13px;
  border: 0;
  border-top: 1.5px solid #d41443;
  border-bottom: 1.5px solid #d41443;
  background: none;
  z-index: 3;
}

.header-menu-call-btn::after {
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  position: relative;
  top: -0.02px;
  background-color: #d41443;
}

@media screen and (min-width: 768px) {
  .header-menu-call-btn {
    position: relative;
    top: 45px;
    left: 505px;
  }
}

.header-menu-close-btn {
  position: absolute;
  top: 23px;
  right: 28px;
  width: 14px;
  height: 14px;
  background: none;
  border: 0;
  color: #ffffff;
  fill: currentColor;
}

.header-menu-close-btn .header-menu-icon {
  width: 14px;
  height: 14px;
}

.header-drop-menu {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 254px;
  height: 100vh;
  padding: 60px 21px;
  z-index: 17;
  background-color: #e17992;
  visibility: visible;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-buy-now-button {
  width: 209px;
  height: 44px;
  border: 0;
  border-radius: 22px;
  color: #d41443;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-buy-now-button .menu-buy-now-arrow {
  margin-left: 16px;
  font-weight: 900;
}

.header-main-buy-now-button {
  margin-top: 32px;
  margin-right: 0px;
  width: 160px;
  height: 44px;
  border: 0;
  border-radius: 22px;
  position: relative;
  right: -12px;
  background-color: #ffffff;
  color: #d41443;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-main-buy-now-button .menu-buy-now-arrow {
  margin-left: 16px;
  font-weight: 900;
}

.header-menu-link {
  text-decoration: none;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.header-site-navigation {
  margin-top: 19px;
}

.header-site-navigation li {
  background: -webkit-gradient(linear, left top, left bottom, from(#e18298), color-stop(3%, #e17992), color-stop(97%, #e17992), to(#e18298));
  background: linear-gradient(#e18298 0%, #e17992 3%, #e17992 97%, #e18298 100%);
  padding-top: 11px;
  padding-bottom: 11px;
}

.header-home-link {
  color: #d41443;
}

.is-upped {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.hero-ice-cream {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
  height: 502px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .hero-ice-cream {
    height: 399px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-ice-cream {
    margin-top: 665px;
  }
}

.hero-ice-cream::after {
  content: '';
  position: absolute;
  top: 82px;
  left: 65%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 346px;
  height: 346px;
  border-radius: 50%;
  z-index: -2;
  background-color: #ffa5ba;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .hero-ice-cream::after {
    top: 31px;
    left: 61%;
    width: 324px;
    height: 322px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-ice-cream::after {
    width: 538px;
    height: 538px;
  }
}

.hero-icecream-bg-picture {
  position: absolute;
  bottom: 0;
  left: 63%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .hero-icecream-bg-picture {
    left: 58%;
  }
}

.header-logo {
  width: 50px;
  height: 50px;
}

.hero-secondary-container {
  z-index: 1;
}

.hero-milk-container {
  margin-top: 19px;
  width: 234px;
  height: 128px;
  margin-bottom: 28px;
}

.hero-second-milk-container {
  width: 114px;
  margin-left: auto;
}

.hero-milk-text {
  position: relative;
  margin-top: 49px;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 150%;
  color: #ffffff;
}

.hero-milk-image {
  position: absolute;
  display: block;
  width: 124px;
  height: 126px;
}

.hero-milk-anker {
  display: block;
  margin-top: 7px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
}

.hero-anker-arrow {
  width: 18px;
  height: 18px;
}

.header-secondary-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 24px;
  margin-left: auto;
}

.header-places {
  font-family: Titan One;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 12px;
}

.header-places * {
  z-index: 1;
}

.header-places li {
  position: relative;
  z-index: 2;
}

.header-places li::after {
  content: '';
  position: absolute;
  top: -2px;
  left: 152px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  z-index: -1;
  background-color: #ffffff;
}

.header-places li + li {
  margin-top: 13px;
}

.header-places-text {
  display: block;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: #ffffff;
}

.hero-girl-image-png {
  position: absolute;
  bottom: 0;
  right: 34px;
  width: 168px;
  height: 133px;
}
/*# sourceMappingURL=main.css.map */