.hero {
  min-width: $site-minimum-width;
  max-width: $tablet-width;
  padding: $hero-paddings;
  padding-bottom: 160px;

  background-color: $hero-bgc;

  margin: 0 auto;
  z-index: 1;

  &-header {
    width: 218px;
    margin-top: 137px;
    &-main {
      display: flex;
    }
  }

  * {
    z-index: 3;
  }

  //   @media screen and (min-width: $tablet-width),
  //     screen and (max-width: $desktop-width) {
  //     width: $tablet-width;
  //   }
}

.hero-main-link {
  color: $crimson;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header-logo-text {
  margin-left: 20px;
}

.header-link-list {
  margin-top: 19px;
  display: flex;
  * * {
    display: block;
    padding: 7px 13px;
    border-radius: 20px;

    font-family: DM Sans;
    font-size: 8px;
    line-height: 1.25;
    align-items: center;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.06em;
  }

  li {
  }

  li + li {
    margin-left: 8px;
  }
}

.hero-link {
  &-products {
    background-color: $header-products-link-bgc;
    color: $header-prod-link-color;
    &:hover,
    &:focus {
      background-color: $button-products-hover-color;
    }
  }
  &-him {
    background-color: $header-link-bg;
    color: $header-him-link-color;
    &:hover,
    &:focus {
      background-color: $button-Howitsmade-hover-color;
    }
  }
}

.header-drop-menu {
  position: absolute;
  top: 0px;
  right: 0px;

  width: 254px;
  height: 100vh;

  background-color: $menu-bgc;
}

.hero-ice-cream {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;

  height: 502px;

  z-index: 0;

  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    bottom: 75px;
    right: -5em;

    width: 346px;
    height: 346px;
    border-radius: 50%;
    z-index: 0;

    background-color: $header-circle-bgc;
  }
}

.hero-bg-picture {
  position: absolute;
  bottom: 0;
  right: 10vw;
  z-index: 1;
}

.header-menu-call-btn {
  position: absolute;
  right: 20px;
  top: 25px;

  width: 20px;
  height: 12px;
  border: 0;
  border-top: 1px solid $menu-lines-color;
  border-bottom: 1px solid $menu-lines-color;

  background: none;

  &::after {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    position: relative;
    top: -0.02px;
    background-color: $menu-lines-color;
  }
}

.header-logo {
  width: 50px;
  height: 50px;
}
