// цвета

$true-white: #ffffff;
$pale-lila: #fff5f6;
$cherry-blossom-pink: #ffb8ca;
$pink-cherry: #ffa5ba;
$pink-lila: #e17992;
$crimson: #d41443;

// фоны

$hero-bgc: $cherry-blossom-pink;
$menu-bgc: $pink-lila;
$header-circle-bgc: $pink-cherry;

// шрифты

// размеры

$site-minimum-width: 320px;
$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px;

// отступы

$hero-paddings: 6px 20px;
